.menu {
    &.is-menu_main {
        display: none;
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }
        .menu-item {
            @include breakpoint(desktop_small) {
                margin-right: 25px;
            }
            @include breakpoint(desktop) {
                margin-right: 40px;
            }
            &:hover {
                .menu-item_name {
                    @include breakpoint(desktop_small) {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}