// Mobile toggle icon
.header-menu_toggle {
    @include breakpoint(desktop_small) {
        display: none;
    }
    label {
        &::before {
            content: url('../images/icons/menu.svg');
            display: block;
            width: 20px;
            height: 20px;
            transition: all .3s;
        }
    }
}

// Toggle mobile menu
input.toggle-input#toggle-menu:checked {
    ~ .header-primary {
        .menu {
            &.is-menu_main {
                @include breakpoint(desktop_small, max) {
                    display: block;
                }
            }
            .header-menu_toggle {
                label {
                    &::before {
                        content: url('../images/icons/close.svg');
                    }
                }
            }
        }
    }
}

// Mobile menu styles
.menu {
    &.is-menu_main {
        @include breakpoint(desktop_small, max) {
            z-index: 10;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            margin-top: 109px;
            padding: 15px;
            background-color: #333;
        }
    }
}