.menu {
    &.is-menu_user {
        display: flex;
        .menu-item {
            margin-right: 15px;
            @include breakpoint(desktop_small) {
                margin-right: 25px;
            }
            @include breakpoint(desktop) {
                margin-right: 35px;
            }
            &_name {
                display: none;
            }
        }
    }
}