<div class="search">
    <input id="search-input" type="text" placeholder="Wyszukaj w sklepie...">
    <button class="search-submit">
        <img src="http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/search.png" alt="">
    </button>
</div>