$breakpoints: (
    phone_small: 320px,
    phone: 480px,
    phone_big: 640px,
    tablet: 768px,
    tablet_big: 980px,
    desktop_small: 1024px,
    desktop: 1350px,
    desktop_big: 1500px
) !default;

@mixin breakpoint($name, $mode: min) {
    $mQueryValue: $name;
    @if map-has-key($breakpoints, $name) {
        $mQueryValue: map-get($breakpoints, $name);
    }
    @if $mode != max and $mode != min {
        @warn 'The $mode param accepts \'min\' or \'max\' values only';
    } @else if $mode == max {
        $mQueryValue: $mQueryValue - 1px;
    }
    @media screen and (#{$mode}-width: #{$mQueryValue}) {
        @content;
    }
}
