footer {
	@extend %container;
	@extend %mobile-padding;
	display: flex;
	flex-direction: column;

	@include breakpoint(tablet) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.footer-column {
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
			width: 100%;
		}

		@include breakpoint(tablet) {
			width: 50%;
		}
		@include breakpoint(desktop_small) {
			width: 33.3%;
		}
		@include breakpoint(desktop) {
			width: 25%;
		}

		ul li {
			line-height: 42px;
		}

		&.is-copyright {
			background: #FCFCFC;
			border-top: 1px solid #979797;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.is-about {
			img,
			p {
				margin-bottom: 15px;
				@include breakpoint(tablet) {
					margin-bottom: 30px;
				}
			}
		}

	}

}

// Typo

footer {

	.footer-column {

		h4 {
			margin-bottom: 30px;
		}

		ul li {
			font-size: 21px;
		}

		&.is-copyright p {
			color: $col-primary;
		}

		&.is-about {
			p {
				a {
					text-decoration: underline;
				}
			}
		}

	}

}