%is-hidden {
    display: none;
}

%container {
    max-width: 1440px;
    margin: 0 auto;
}

%mobile-padding {
    padding: 0 15px;
    @include breakpoint(desktop) {
        padding: 0;
    }
}

.toggle-input {
    @extend %is-hidden;
}