

	<div id="vue-search" class="search">
		<div class="search-trigger js-search_trigger"><img src="{{ site.theme.link }}/core/images/icons/search.svg"></div>
		<div class="search-container">

			<input type="text" placeholder="Wpisz fraze..." class="js-input" name="" value="">
			{% verbatim %}
				<div v-if="loading === false" class="boxes-wrapper">
					<div  v-if="!emptyResponse" v-for="post in posts" class="box">
						<h3>
							{{ post.title.rendered }}
						</h3>
						<p>
							{{ post.date }}
						</p>
						<p>
							{{ post.content.rendered }}
						</p>
					</div>
					<div v-if="emptyResponse">
						Nic nie znalazłem
					</div>
				</div>
			{% endverbatim %}
			<div v-else>
				Ładuję gruz na kamaza
			</div>

		</div>

	</div>
	
