.newsletter {

	.container {
		@extend %container;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;

		.newsletter-form {
			background-color: rgba(255, 255, 255, 0.8);
			margin: 30px 15px;
			display: inline-flex;
			flex-direction: column;
			align-items: center;
			box-sizing: border-box;
			padding: 30px 15px;
			width: 100%;
			@include breakpoint(tablet) {
				margin: 30px 0;
				max-width: 600px;
				padding: 30px 60px;
			}
			@include breakpoint(desktop_small) {
				max-width: 800px;
			}
			@include breakpoint(desktop) {
				max-width: 996px;
				padding: 30px 60px;
			}
		}

	}


	// TYPO

	h1,
	h4 {
		text-align: center;
	}

	h1 {
		margin-bottom: 15px;
	}

	h4 {
		line-height: normal;
		margin-bottom: 40px;
	}

}