<header>
    <input id="toggle-menu" class="toggle-input" type="checkbox" name="toggle-menu">
    <div class="header-umbrella">
        {% include 'templates/components/header/elements/umbrella.twig' %}
    </div>
    <div class="header-primary">
        <div class="header-column is-logo">
            {% include 'templates/components/header/elements/logo.twig' %}
        </div>
        <div class="header-column is-menu_main">
            {% include 'templates/components/header/elements/menu-main.twig' %}
        </div>
        <div class="header-column is-search">
            {% include 'templates/components/header/elements/search.twig' %}
        </div>
        <div class="header-column is-menu_user">
            {% include 'templates/components/header/elements/menu-user.twig' %}
        </div>
    </div>
</header>