.product-information {
	&:not(&_price, &_image) {
		margin-bottom: 15px;
		@include breakpoint(tablet) {
			max-width: 50%;
		}
		@include breakpoint(desktop) {
			margin-bottom: 30px;
			max-width: 60%;
		}
	}
	&_logo {
		img {
			max-height: 76px;
			max-width: 176px;
		}
	}
	&_price {
		margin-bottom: 30px;
	}
	&_image {
		display: flex;
		align-items: center;
		justify-content: center;
		@include breakpoint(tablet) {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 50%;
		}
		@include breakpoint(desktop) {
			width: 40%;
			justify-content: flex-start;
			box-sizing: border-box;
			padding-left: 15px;
		}
		img {
			max-height: 160px;
			max-width: 100%;
			@include breakpoint(desktop_small) {
				max-height: 180px;
			}
			@include breakpoint(desktop) {
				max-height: 210px;
			}
		}
	}
}