@import 'product_exhibition_col';

.product-exhibition {
	&:nth-child(2n+1) {
		.container {
			@include breakpoint(tablet) {
				flex-direction: row-reverse;
			}
		}
	}
	.container {
		@extend %container;
		display: flex;
		flex-direction: column;
		@include breakpoint(tablet) {
			flex-direction: row;
		}
	}

	//BTN
	.btn {
		order: 1;
		margin-top: 30px;
		@include breakpoint(tablet) {
			order: unset;
			margin-top: 0;
		}
	}
	//TYPO
	h1, p {
		text-align: center;
		@include breakpoint(tablet) {
			text-align: left;
		}
	}
	h1 {
		font-size: 40px;
		font-weight: 600;
		@include breakpoint(tablet) {
			font-size: 32px;
		}
		@include breakpoint(desktop) {
			font-size: 40px;
		}
	}
	p {
		font-size: 22px;
		@include breakpoint(tablet) {
			font-size: 18px;
		}
		@include breakpoint(desktop) {
			font-size: 22px;
		}
	}

}
