.product-exhibition {
	.product-exhibition-col {
		display: flex;
		min-height: 300px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include breakpoint(tablet) {
			min-height: 400px;
			width: 40%;
		}
		@include breakpoint(desktop_small) {
			min-height: 480px;
			width: 50%;
		}
		&:last-of-type {
			flex-direction: column;
			align-items: center;
			padding: 30px 15px;
			@include breakpoint(tablet) {
				padding: 0 30px;
				box-sizing: border-box;
				align-items: flex-start;
				justify-content: center;
				width: 60%;
				position: relative;
			}
			@include breakpoint(desktop_small) {
				width: 50%;
			}
			@include breakpoint(desktop) {
				padding: 0 75px;
			}
		}
	}
}