.about-us {
	margin-top: 60px; 

	@include breakpoint('tablet') {
		margin-top: 100px;
	}

	.categories {

		@include breakpoint('tablet') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.categories_item {
			background-position: center;
			position: relative;

			@include breakpoint('tablet') {
				width: 50%;
				box-sizing: border-box;
				transition: .2s transform, filter;
				filter: grayscale(50%);
			}

			@include breakpoint('desktop') {
				width: 33.3%;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				height: 150px;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.5) 59%, rgba(0,0,0,1) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 35%,rgba(0,0,0,0.5) 59%,rgba(0,0,0,1) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 35%,rgba(0,0,0,0.5) 59%,rgba(0,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
				opacity: 1;
				transition: .3s opacity;
			}

			&:hover {
				@include breakpoint('tablet') {
					transform: scale(1.15);
					filter: grayscale(0);
					z-index: 2;
				}

			}

		}

		.categories_item a{
			@extend .mobile-padding;
			padding: 20px 15px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 350px;

			@include breakpoint('desktop_small') {
				padding: 42px;
			}

		}

	}

}



/**
 * TYPO
**/

.about-us {

	h2 {
		@extend .default-heading;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 52px;

		@include breakpoint('tablet') {
			text-align: left;
			font-size: 54px;
			line-height: 60px;
		}
	}

	.categories_item {

		h2, p {
			color: $cl-white;
			position: relative;
			z-index: 2;
		}

		p {
			@extend .default-paragraph;
			padding-top: 20px;

			@include breakpoint('tablet') {
				height: 1px;
				transition: .3s all;
				visibility: hidden;
				opacity: 0;
				min-height: 0;
			}
		}

		&:hover {

			p {

				@include breakpoint('tablet') {
					visibility: visible;
					opacity: 1;
					min-height: 95px;
				}
			}

		}
	}

}