.articles {
    padding-top: 100px;
    font-family: $montserrat;
    @include breakpoint('phone_big') {
        display: flex;
        flex-wrap: wrap;
    }
    @include breakpoint('desktop_small') {
        padding-top: 160px;
        margin: 0 -15px;
    }
    &-container {
        position: relative;
    }
    &-empty {
        min-height: 250px;
    }
    &-topbar {
        width: 100%;
        @include breakpoint('tablet') {
            display: flex;
        }
        .articles {
            &-categories {
                margin-left: 15px;
                display: flex;
                flex-wrap: wrap;
                .article-category-link {
                    cursor: pointer;
                    &.is-active {
                        background-color: $cl-secondary; 
                    }
                }
            }
            &-sort {
                margin: 0 15px;
                position: relative;
                display: inline-block;
                @include breakpoint('tablet') {
                    margin-left: auto;
                }
                &::after {
                    content: url('../images/down-arrow.png');
                    position: absolute;
                    right: 13px;
                }
                &-select {
                    padding: 6px 33px 6px 11px;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px solid $cl-secondary;
                    border-radius: 0;
                    appearance: none;
                }
            }
        }
    }
    .headline {
        width: 100%;
        @include breakpoint('desktop_small') {
            margin-left: 15px;
        }
        .section_heading {
            align-items: start;
            margin-bottom: 30px;
            span {
                position: relative;
                top: -3px;
                left: 5px;
                font-size: 20px;
                @include breakpoint('tablet') {
                    font-size: 30px;
                }
                @include breakpoint('desktop_small') {
                    top: -6px;
                    font-size: 35px;
                }
            }
            &::after {
                content: '';
                width: 40%;
                height: 5px;
                margin-top: 10px;
                background-color: $cl-secondary;
            }
        }
    }
    .article {
        position: relative;
        margin: 15px;
        background-color: #f7f8f9;
        transition: opacity .3s;
        @include breakpoint('phone_big') {
            width: calc(50% - 30px);
        }
        @include breakpoint('desktop_small') {
            width: calc(33.33% - 30px);
        }
        &-thumbnail {
            position: relative;
            height: 220px;
            overflow: hidden;
            text-align: center;
            background-size: cover;
            @include breakpoint('desktop_small') {
                height: 240px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-color: $cl-secondary;
                opacity: 0;
                transition: opacity .3s;
            }
        }
        &.is-wide {
            @include breakpoint('desktop_small') {
                width: calc(66.66% - 30px);
            }
            .article-thumbnail {
                img {
                    @include breakpoint('desktop_small') {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        &.is-featured {
            color: #fff;
            background-color: $cl-secondary;
            .article {
                &-title,
                &-excerpt p,
                &-data {
                    color: #fff;
                }
            }
        }
        &.is-loading {
            opacity: .1;
        }
        &:hover {
            .article-thumbnail {
                &::before {
                    opacity: .7;
                }
            }
        }
        &-categories {
            position: absolute;
            top: 20px;
            right: 20px;
            left: 20px;
            z-index: 3;
            display: flex;
            flex-wrap: wrap;
        }
        &-category {
            &-link {
                display: inline-block;
                padding: 0 10px;
                margin: 0 10px 10px 0;
                font: 500 12px/30px $montserrat;
                color: #fff;
                text-transform: uppercase;
                background-color: #b0b0b0;
                transition: background .2s;
                &.is-featured {
                  background-color: $cl-secondary;  
                }
            }
        }
        &-title {
            padding: 20px 20px 0;
            font: 500 22px/30px $montserrat;
        }
        &-excerpt {
            padding: 10px 20px;
            font: 400 14px/22px $montserrat;
            p {
                color: #9fa3a7;
            }
        }
        &-data {
            padding: 0 20px 10px;
            font: 600 13px/22px $montserrat;
            color: #9fa3a7;
        }
    }
}