.carousel {

	.container {
		position: relative;
		z-index: 2;
	}

	.carousel_item {
		height: 100vh;
		max-height: 560px;
		width: 100%;
		background-position: top;
		background-size: cover;
		padding: 100px 15px 30px;
		box-sizing: border-box;
		position: relative;

		@include breakpoint('tablet') {
			padding: 128px 15px 30px;
			max-height: 880px;
		}

		@include breakpoint('desktop_small') {
			max-height: none;
			padding: 142px 15px 30px;
			min-height: 720px;
		}

		&:after {
			content: '';
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 60%, rgba(255,255,255,0.83) 70%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0.95) 90%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 60%,rgba(255,255,255,0.83) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0.95) 90%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.75) 60%,rgba(255,255,255,0.83) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0.95) 90%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
			position: absolute;
			height: 200px;
			left: 0;
			right: 0;
			bottom: 0;
		}

	}

	h2 {
		position: relative;
		padding-bottom: 30px;

		@include breakpoint('tablet') {
			display: flex;
			align-items: flex-end;
			max-width: 800px;
			padding-bottom: 80px;
			min-height: 220px;
		}

		@include breakpoint('desktop_small') {
			min-height: 240px;
		}

		&:after {
			content: '';
			position: absolute;
			background: $cl-secondary;
			height: 3px;
			width: 220px;
			display: block;
			bottom: 15px;

			@include breakpoint('tablet') {
				bottom: 40px;
				width: 480px;
			}
		}
	}

	p {
		margin-bottom: 30px;

		@include breakpoint('tablet') {
			max-width: 640px;
			margin-bottom: 50px;
		}
	}

}




/**
 * TYPO
**/

.carousel {

	h2 {
		@extend .default-heading;
		text-align: left;
		font-size: 40px;
		@include breakpoint('tablet') {
			font-size: 90px;
			line-height: 110px;
		}
		@include breakpoint('desktop_small') {
			font-size: 100px;
			line-height: 120px;
		}
	}

	p {
		@extend .default-paragraph;

		@include breakpoint('tablet') {
			max-width: 640px;
		}
	}

}