.contact-form {
    @extend .mobile-padding;

    input, textarea {
        min-height: 50px;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        resize: none;
        width: 100%;
        max-width: 580px;
        padding: 10px;
        box-sizing: border-box;
    }

    textarea {
        height: 170px;
    }

    .row {
        margin-bottom: -8px;
    }

    .btn {
        border-radius: 0;
        border: none;
        width: auto;
        margin: 45px 0;
        padding: 15px 30px;
    }

}



/**
 * TYPO
**/

.contact-form {

    .btn {
        font-size: 18px;
    }

    input, textarea {
        font-size: 15px;
    }

    h6, .wpcf7-not-valid-tip, .wpcf7-response-output {
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -.4px;
    }

    h6 {
        margin-bottom: 6px;
    }

    .wpcf7-not-valid-tip {
        margin-top: 5px;
    }

    .wpcf7-response-output {
        padding: 15px;
        width: 100%;
        max-width: 580px;
        margin: 0;
    }

}