.join-us {
	position: relative;
	background: url('../images/cta.png') no-repeat center center / cover;
	padding: 50px 0;

	@include breakpoint('tablet') {
		padding: 68px 0;
	}

	&:before {
		content: '';
		position: absolute;
		background: rgba($cl-secondary, .7);
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}

	.container {
		@extend .mobile-padding;

		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.buttons_wrapper {
		margin-top: 42px;

		@include breakpoint('tablet') {
			margin-top: 72px;
		}

		@include breakpoint('tablet') {
			display: flex;
			flex-direction: row;
		}

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			text-align: center;

			@include breakpoint('tablet') {
				min-width: 275px;
			}

			@include breakpoint('desktop_small') {
				min-width: 315px;
			}

		}

		.btn_secondary {
			border-color: $cl-white;
			color: $cl-white;
			margin-top: 15px;

			@include breakpoint('tablet') {
				margin: 0 0 0 35px;
			}

			@include breakpoint('desktop_small') {
				margin-left: 50px;
			}

		}

	}

}



/**
 * TYPO
**/

.join-us {

	h2, p {
		color: $cl-white;
	}

	h2 {
		@extend .default-heading;
		font-size: 36px;
		text-transform: uppercase;
		line-height: normal;
		letter-spacing: -.7px;

		@include breakpoint('tablet') {
			font-size: 52px;
		}
	}

	p {
		font-family: $montserrat;
		font-weight: 500;
		margin-top: 14px;
		max-width: 640px;
		letter-spacing: 0.2px;
		text-align: center;

		@include breakpoint('tablet') {
			margin-top: 34px;
		}
	}

}