.find-us {
	margin-top: 60px;

	@include breakpoint('desktop_small') {
		margin-top: 0;
	}

	@include breakpoint('tablet') {
		display: flex;
		justify-content: center;
		position: relative;
	}
	@include breakpoint('desktop_small') {
		display: block;
		padding: 140px 0 110px;
	}
	@include breakpoint('desktop') {
		padding: 220px 0 190px;
	}

	.container {
		@extend .mobile-padding;

		display: flex;
		box-sizing: border-box;
	}

	.box {

		@extend .mobile-padding;

		display: inline-flex;
		flex-direction: column;
		background: $cl-secondary;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;

		@include breakpoint('tablet') {
			width: auto;
			padding: 55px 115px 68px 65px;
			-webkit-box-shadow: 0px 0px 43px 2px rgba(0,0,0,0.26);
			-moz-box-shadow: 0px 0px 43px 2px rgba(0,0,0,0.26);
			box-shadow: 0px 0px 43px 2px rgba(0,0,0,0.26);
		}

	}

	.buttons_wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		@include breakpoint('tablet') {
			display: block;
		}
	}

	.buttons_wrapper a {
		text-transform: none;
		font-weight: 500;
	}

	.section_image {
		@include breakpoint('desktop_small') {
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			background: url('../images/find-us01.png') no-repeat center center / cover;
			height: 100%;
			width: 42%;
		}
	}

}

// template styles
.page-template-template_team {
	.find-us {
		@include breakpoint('desktop_small') {
			padding: 100px 0 110px;
		}
		@include breakpoint('desktop') {
			padding: 120px 0 190px;
		}
	}
}



/**
 * TYPO
**/

.find-us {

	h6, p {
		color: $cl-white;
	}

	h6 {
		@extend .default-heading;
		text-align: left;
		margin-bottom: 26px;
		font-size: 40px;
		@include breakpoint('tablet') {
			font-size: 50px;
		}
	}

	p {
		@extend .default-paragraph;
		margin-bottom: 5px;

		&:last-of-type {
			margin-bottom: 48px;
		}
	}

}