.footer-bar {
	background: $cl-footerBar;
	padding: 25px 0 20px;

	.container {
		text-align: center;
	}

	img {
		max-width: 120px;
	}

}


/**
 * TYPO
**/

.footer-bar {

	p {
		font-family: $montserrat;
		font-weight: 500;
		color: $cl-white;
		font-size: 13px;
		letter-spacing: 0.4px;
	}

}