.footer-nav {
	background: $cl-footerBar;
	padding: 42px 0;

	@include breakpoint('tablet') {
		padding: 42px 0 60px;
	}


	.container {
		@extend .mobile-padding;

		@include breakpoint('tablet') {
			display: flex;
			justify-content: space-around;
		}

		@include breakpoint('desktop_small') {
			justify-content: space-between;
		}

	}

	.col {
		margin-bottom: 20px;
		text-align: center;

		@include breakpoint('tablet') {
			margin-bottom: 0;
			text-align: left;
		}

		&:last-of-type {
			margin-bottom: 0;

			.list {
				line-height: 36px;
			}

		}

	}

	.list {

		line-height: 33px;

	}

	.list figure{
		display: inline-flex;
		margin-right: 15px;
		width: 22px;
		justify-content: center;
		position: relative;
		top: 2px;

		img {
			height: 16px;
		}

	}

	.nav_heading {

		display: flex;
		justify-content: center;

		@include breakpoint('tablet') {
			justify-content: flex-start;
		}

	}

}


/**
 * TYPO
**/

.footer-nav {

	h6 {
		@extend .default-heading;

		font-weight: 400;
		text-transform: uppercase;
		color: $cl-white;
		text-align: center;
		font-size: 24px;
		letter-spacing: -0.3px;
		margin-bottom: 8px;
		
		@include breakpoint('tablet') {
			text-align: left;
		}
		
	}

	.nav_heading a{
		@extend .default-heading;

		font-weight: 400;
		text-transform: uppercase;
		color: $cl-white;
		text-align: center;
		font-size: 24px;
		letter-spacing: -0.3px;
		margin-bottom: 8px;
		pointer-events: none;
		margin-bottom: 8px;
		display: flex;

		@include breakpoint('tablet') {
			text-align: left;
		}
	}

	.list_item, li a{
		@extend .default-paragraph;

		color: $cl-footerNav;
		font-size: 15px;
		font-weight: 400;
	}

}