.fu-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    transition: .5s opacity, visibility;
    .wrapper {
        position: relative;
        width: 100%;
        max-width: 650px;
        max-height: 600px;
        min-height: 150px;
        box-sizing: border-box;
        padding: 20px 25px;
        margin: 0 15px;
        overflow-y: scroll;
        background: $cl-white;
        @extend .mobile-padding;
        @include breakpoint('tablet') {
            min-height: 350px;
            margin: 0;
        }
    }
    .select-wrapper {
        @include breakpoint('tablet') {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }
        .item {
            &:first-child {
                @include breakpoint('tablet') {
                    width: 40%;
                }
            }
            &:last-child {
                @include breakpoint('tablet') {
                    width: 60%;
                }
            }
        }
    }
    .list_item {
        margin-bottom: 15px;
        &:last-of-type {
            margin-bottom: 0;
        }
        div {
            display: flex;
            flex-direction: column;
            @include breakpoint('tablet') {
                flex-direction: row;
            }
            p {
                width: 50%;
            }
            p:first-of-type {
                margin-right: 25px;
                @include breakpoint('tablet') {
                    min-width: 70px;
                }
            }
        }
    }
    .btn {
        padding: 10px 24px;
        margin: 20px 0;
        font-size: 14px;
    }
    .close {
        position: absolute;
        top: 25px;
        right: 25px;
        display: inline-flex;
        width: 10px;
        height: 10px;
        align-items: center;
        cursor: pointer;
        .bar {
            position: relative;
            width: 1px;
            height: 15px;
            background: $cl-primary;
            transform: rotate(50deg);
            &:first-of-type {
                right: -3px;
                transform: rotate(50deg);
            }
            &:last-of-type {
                left: 2px;
                transform: rotate(-50deg);
            }
        }
    }
    select {
        position: relative;
        width: 100%;
        height: 35px;
        padding-left: 15px;
        margin-bottom: 30px;
        background-color: $cl-white;
        background-image: url("../images/select-arrow.png");
        background-position: right 15px center;
        background-repeat: no-repeat;
        border: 1px solid #e4e4e4;
        border-radius: 0;
        -webkit-appearance: none;
        @include breakpoint('tablet') {
            width: 200px;
            margin: 0 32px 0 0;
        }
    }
}

.fu-popup.showed {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
    visibility: visible;
}

/**
 * TYPO
**/

.fu-popup {
    h2 {
        margin-bottom: 28px;
        font-size: 22px;
        color: $cl-black;
        text-align: left;
        text-transform: uppercase;
        @extend .default-heading;
    }
    h6,
    p,
    select {
        font-family: $montserrat;
    }
    h6,
    p {
        font-size: 13px;
    }
    h6 {
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.3px;
    }
    h5 {
        margin-bottom: 10px;
        font-family: $oswald;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        span {
            margin-left: 5px;
            font-family: $montserrat;
            text-transform: none;
        }
    }
}