.groups {
	margin-bottom: 60px;

	@include breakpoint('desktop_small') {
		margin-bottom: 120px;
	}
	@include breakpoint('desktop') {
		margin-bottom: 160px;
	}

	.groups_boxes {
		@extend .mobile-padding;
		@include breakpoint('tablet') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@include breakpoint('desktop_small') {
			justify-content: center;
		}

		.item {
			background: $cl-lightGray;
			height: 155px;
			transition: .3s background-color;
			max-width: 450px;
			margin: 0 auto 15px;

			@include breakpoint('tablet') {
				width: 45%;
			}
			@include breakpoint('desktop_small') {
				margin: 0 5px;
				width: calc(25% - 10px);
			}

			&:hover {
				background: $cl-secondary;

				img {
					filter: invert(0);
				}

			}

		}

		.item a {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.item img {
			max-height: 75px;
			margin-bottom: 10px;
			filter: invert(1);
			transition: .3s filter;
		}

	}

}


/**
 * TYPO
**/

.groups {

	h6 {
		@extend .default-heading;
		text-transform: uppercase;
		font-size: 30px;
		letter-spacing: -.3px;
		transition: .3s color;
	}

	.item {

		&:hover {

			h6 {
				color: $cl-white;
			}

		}

	}

}
