.info-boxes {
	margin: 60px 0 30px;

	@include breakpoint('desktop_small') {
		margin-top: 20px;
	}

	.section_heading {

		@include breakpoint('desktop_small') {
			margin-bottom: 60px;
		}

	}

	.info-boxes_boxes {
		@extend .mobile-padding;
		@include breakpoint('tablet') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@include breakpoint('desktop_small') {
			justify-content: center;
		}

		.item {
			background: $cl-lightGray;
			height: auto;
			transition: .3s background-color;
			max-width: 450px;
			margin: 0 auto 15px;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 50px 0 20px;

			@include breakpoint('tablet') {
				width: 45%;
			}
			@include breakpoint('desktop_small') {
				margin: 0 10px 20px;
				width: calc(33.3% - 20px);
			}

			&:hover {
				background: $cl-secondary;

				img {
					filter: invert(1);
				}

			}

		}

		.item a {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.item img {
			max-width: 160px;
			transition: .3s filter;
		}

	}

}


/**
 * TYPO
**/

.info-boxes {

	.section_heading h2 {
		max-width: 520px;

		@include breakpoint('tablet') {
			line-height: 66px;
		}

	}

	.text {
		@extend .default-paragraph;
		transition: .3s color;
		font-size: 22px;
		padding: 40px 20px;
		letter-spacing: .5px;
		text-align: center;
		line-height: 36px;

	}

	.item {

		&:hover {

			.text p {
				color: $cl-white;
			}

		}

	}

}
