.info-boxes-numbers {
	margin: 60px 0;

	.section_heading {
		align-items: flex-start;

		@include breakpoint('desktop_small') {
			margin-bottom: 60px;
		}

	}

	.info-boxes-numbers_boxes {
		@extend .mobile-padding;
		@include breakpoint('tablet') {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		@include breakpoint('desktop_small') {
			justify-content: center;
		}

		.item {
			background: $cl-lightGray;
			height: auto;
			transition: .3s background-color;
			max-width: 450px;
			margin: 0 auto 15px;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px 0;

			@include breakpoint('tablet') {
				width: 45%;
			}
			@include breakpoint('desktop_small') {
				margin: 0 10px 20px;
				width: calc(25% - 20px);
			}

			&:hover {
				background: $cl-secondary;
			}

		}

	}

}


/**
 * TYPO
**/

.info-boxes-numbers {

	.section_heading h2 {
		max-width: 520px;
		font-size: 38px;
		line-height: 54px;
		letter-spacing: -1.6px;

	}

	p {
		@extend .default-heading;
		transition: .3s color;
		font-size: 26px;
		letter-spacing: -.5px;
		text-align: center;
		line-height: 36px;
		text-transform: uppercase;
	}

	p.secondary {
		font-size: 90px;
		line-height: 155px;

		@include breakpoint('desktop_small') {
			font-size: 75px;
		}

		@include breakpoint('desktop') {
			font-size: 90px;
		}

	}

	.item {
		&:hover {
			p {
				color: $cl-white;
			}
		}
	}

}
