.loader {
    &-container {
        width: 100%;
        position: relative;
        min-height: 250px;
        margin-bottom: -250px;
    }
    &-image {
        position: absolute;
        z-index: 10;
        text-align: center;
        left: 0;
        right: 0;
    }
}