.nav_menu {

	position: absolute;
	left: -150vh;
	right: 150vh;
	opacity: 0;
	bottom: 0;
	top: 65px;
	height: calc(100vh - 65px);
	transition: .6s all;
	display: flex;
	padding: 50px 0 0 30px;
	background: $cl-secondary;

	@include breakpoint('desktop_small') {
		opacity: 1;
		position: static;
		padding: 0;
		height: auto;
		background: transparent;
		transition: 0s all;
	}


	.list {
		line-height: 40px;

		@include breakpoint('desktop_small') {
			display: flex;
			flex-direction: row;
		}

	}

	li {

		@include breakpoint('desktop_small') {
			margin-right: 36px;
		}

		&:last-of-type {
			@include breakpoint('desktop_small') {
				margin-right: 20px;
			}
		}

	}

}

.nav_menu.isVisible {

	left: 0;
	right: 0;
	opacity: 1;

}




/**
 * TYPO
**/

.nav_menu li a {
	font-family: $montserrat;
	font-weight: 500;
	font-size: 20px;
	color: $cl-white;
	transition: .3s color;
	@include breakpoint('desktop_small') {
		color: $cl-fonts-default;
		font-size: 16px;
	}

	&:hover {
		@include breakpoint('desktop_small') {
			color: $cl-fonts-default-hover;
		}
	}

}
