.nav {

	.nav-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		background-color: $cl-white;
		z-index: 10;
		box-shadow: 0px 4px 56px 0px rgba(0, 0, 0, 0.1);

		@include breakpoint('desktop_small') {
			margin: 0 auto;
			max-width: 1180px;
			padding: 15px 40px;
		}
	}

}
