.nav_burger {
	cursor: pointer;

	@include breakpoint('desktop_small') {
		display: none;
	}

	span {
		height: 4px;
		display: block;
		background: $cl-secondary;
		width: 35px;

		&:nth-child(2) {
			margin: 6px 0;
		}
	}

}