.news_listing {
	display: flex;
	flex-direction: column;
	margin: 0 15px 40px;

	@include breakpoint('tablet') {
		position: relative;
		margin-bottom: 80px;
	}
	@include breakpoint('desktop_small') {
		margin-bottom: 100px;
	}
	@include breakpoint('desktop') {
		margin: 0 0 140px;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.news_listing_image {
		background-image: url("https://wallpapersultra.net/wp-content/uploads/Wallpaper-Full-HD-Wallpapers-800x500.jpg");
		height: 220px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include breakpoint('tablet') {
			height: 360px;
			width: 80%;
		}

		@include breakpoint('desktop_small') {
			height: 410px;
		}

	}

	.news_listing_info {
		background: $cl-secondary;

		@include breakpoint('tablet') {
			width: 340px;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@include breakpoint('desktop_small') {
			width: 380px;
		}

		a {
			padding: 15px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;

			@include breakpoint('tablet') {
				padding: 35px;
			}

			@include breakpoint('desktop_small') {
				padding: 50px 35px;
			}
		}
	}

	a {
		display: flex;
		width: 100%;
		height: 100%;
	}

}


.news_listing {

	&:nth-child(odd) {
		@include breakpoint('tablet') {
			align-items: flex-end;
		}

		.news_listing_info {
			@include breakpoint('tablet') {
			left: 0;
			right: auto;
			}
		}
	}

}



/**
 * TYPO
**/

.news_listing_info {

	h5, p {
		color: $cl-white;
	}

	h5 {
		@extend .default-heading;
		text-align: left;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;

		@include breakpoint('desktop_small') {
			font-size: 28px;
			line-height: 32px;
		}
	}

	p {
		@extend .default-paragraph;
		line-height: 23px;
	}

}