.news {
	margin-top: 40px;

	.button_wrapper {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		@include breakpoint('tablet') {
			margin-top: 60px;
		}
		@include breakpoint('desktop_small') {
			margin-top: 80px;
		}
	}

}



/**
 * TYPO
**/