.our-mission {
	margin-top: 60px;

	@include breakpoint('tablet') {
		margin-top: 120px;
	}

	@include breakpoint('desktop_small') {
		margin-top: 150px;
	}

	@include breakpoint('tablet') {
		position: relative;
		padding: 140px 0;
	}
	@include breakpoint('desktop_small') {
		padding: 200px 0;
	}

	.button_wrapper {
		@extend .mobile-padding;
		margin-top: 50px;

		@include breakpoint('desktop_small') {
			margin-top: 68px;
		}
	}

	.btn {
		display: flex;
		justify-content: center;

		@include breakpoint('tablet') {
			display: inline-flex;
		}
	}
	
	.section_image {
		@include breakpoint('tablet') {
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			background: url('../images/our-mission.png') no-repeat center center / cover;
			height: 100%;
			width: 42%;
		}

	}

}

/**
 * TYPO
**/

.our-mission {

	h2, .typo {
		@extend .mobile-padding;
	}

	h2 {
		@extend .default-heading;
		text-align: left;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: -1.2px;
		line-height: normal;

		@include breakpoint('tablet') {
			font-size: 54px;
		}
	}

	.typo {
		@extend .default-paragraph;
		letter-spacing: 0.2px;
		line-height: 28px;
		margin-top: 15px;

		@include breakpoint('tablet') {
			max-width: 50%;
			margin-top: 28px;
		}
	}

}