.partners {
	padding: 52px 0 28px;

	@include breakpoint('tablet') {
		padding: 82px 0 64px;
	}

	.partners_item {

		img {
			max-width: 300px;
			display: block;
			margin: 0 auto;
		}

	}

}




/**
 * TYPO
**/

.partners {


}