.section_heading {

	@extend .mobile-padding;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;

	@include breakpoint('tablet') {
		margin-bottom: 50px;
	}
	@include breakpoint('desktop_small') {
		margin-bottom: 70px;
	}
	@include breakpoint('desktop') {
		margin-bottom: 90px;
	}

}




/**
 * TYPO
**/

.section_heading {

	h2 {
		@extend .default-heading;
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: -1.2px;
		line-height: normal;

		@include breakpoint('tablet') {
			font-size: 54px;
		}
	}

	p {
		font-family: $montserrat;
		font-weight: 500;
		margin-top: 6px;
		max-width: 640px;
		letter-spacing: 0.2px;
		text-align: center;

		@include breakpoint('tablet') {
			margin-top: 12px;
		}
	}

}