.single-article {
	@extend .mobile-padding;
	padding-top: 110px;

	@include breakpoint('tablet') {
		padding-top: 142px;
	}

	.single-article_header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border-bottom: 4px solid $cl-secondary;
		padding-bottom: 15px;
		margin-bottom: 18px;
		@include breakpoint('tablet') {
			display: inline-flex;
			justify-content: flex-start;
			padding: 0 15px 20px 0;
			min-width: 460px;
		}

		.single-article_category a{
			background: $cl-secondary;
			display: flex;
			align-items: center;
			padding: 2px 15px;
		}

		.single-article_date {
			margin: 15px 35px 15px 40px;
			position: relative;

			&:before {
				content: '';
				background: url('../images/clock.png') no-repeat center center / cover;
				position: absolute;
				height: 15px;
				width: 15px;
				left: -22px;
				top: -2px;
				bottom: 0;
				margin: auto;
			}

		}

	}

	.addtoany_shortcode .a2a_kit{

		display: flex;

		a {
			display: flex;
			align-content: center;
		}

	}

	.single-article_content .thumbnail{
		width: 100%;
		height: 250px;
		background-position: center;
		background-size: cover;
		margin-bottom: 15px;

		@include breakpoint('tablet') {
			float: left;
			height: 320px;
			width: 435px;
			margin: 0 25px 0 0;
		}
		@include breakpoint('desktop_small') {
			height: 415px;
			width: 635px;
		}

	}

	.articles {
		padding-top: 0;
		margin-bottom: 30px;

		@include breakpoint('tablet') {
			margin-bottom: 70px;
		}

	}

	.breadcrumbs {
		margin-bottom: 18px;
	}


}



/**
 * TYPO
**/


.single-article {

	h1.heading {
		font: 500 22px/30px $montserrat;
		color: $cl-primary;
		margin-bottom: 40px;

		@include breakpoint('tablet') {
			margin-bottom: 60px;
		}

	}

	.single-article_content p {
		font-family: $montserrat;
		font-size: 15px;
		letter-spacing: -.3px;
		margin-bottom: 22px;

		&:last-of-type {
			margin-bottom: 50px;

			@include breakpoint('tablet') {
				margin-bottom: 80px;
			}

		}
	}

	.breadcrumbs {
		a, strong {
			font-family: $montserrat;
			font-size: 14px;
			transition: .3s color;
		}
		strong {
			font-weight: 500;
		}
		a:hover {
			color: $cl-secondary;
		}
	}

	.single-article_category a{
		color: $cl-white;
	}

	.single-article_date {
		font-weight: 600;
		color: $cl-black;
	}

	.single-article_category a, .single-article_date {
		font-family: $montserrat;
		text-transform: uppercase;
		font-size: 12px;
	}

}