.ski {
	margin-bottom: 80px;
	@include breakpoint('tablet') {
		margin-bottom: 100px;
	}
	@include breakpoint('desktop_small') {
		margin-bottom: 200px;
	}
	@include breakpoint('desktop') {
		margin-bottom: 200px;
	}

	.container {
		@extend .mobile-padding;

	}

	.container:last-of-type {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include breakpoint('phone_big') {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.ski_item {
		position: relative;
		margin: 15px;
		background-color: #f7f8f9;
		width: 100%;
		max-width: 380px;
		@include breakpoint('phone_big') {
			width: calc(50% - 30px);
		}
		@include breakpoint('desktop_small') {
			width: calc(33.33% - 30px);
		}

		&:hover {
			p:last-of-type {
				color: $cl-secondary;
				border-color: $cl-secondary;
			}
		}
	}

	.thumbnail {
		position: relative;
		height: 220px;
		overflow: hidden;
		text-align: center;
		background-size: cover;
		@include breakpoint('desktop_small') {
			height: 240px;
		}
	}

}



/**
 * TYPO
**/

.ski {

	.ski_item {
		h3 {
			padding: 20px 20px 10px;
			font: 500 22px/30px $montserrat;
		}

		p {
			padding: 0 20px;
			font: 500 15px/26px $montserrat;
			color: #61666b;
			&:last-of-type {
				color: $cl-primary;
				display: inline-flex;
				border-bottom: 1px solid $cl-primary;
				margin: 14px 20px 20px;
				padding: 0;
				line-height: 1;
				font-weight: 600;
				transition: .3s all;
			}
			span {
				font-weight: 600;
				color: $cl-primary;
			}
		}

		p.price {
			color: $cl-secondary;
		}
	}


}