.subpage-wrapper {
	@extend .mobile-padding;
	padding-top: 110px;
	margin-bottom: 60px;

	@include breakpoint('tablet') {
		padding-top: 142px;
	}

	@include breakpoint('desktop_small') {
		margin-bottom: 120px;
	}
	@include breakpoint('desktop') {
		margin-bottom: 150px;
	}




	.subpage-wrapper_header {
		display: flex;
		border-bottom: 4px solid $cl-secondary;
		padding-bottom: 15px;
		margin-bottom: 18px;
		@include breakpoint('tablet') {
			display: inline-flex;
			justify-content: flex-start;
			padding: 0 15px 20px 0;
			min-width: 460px;
		}

	}

	.subpage-wrapper_content {
		margin-top: 40px;

		@include breakpoint('tablet') {
			margin-top: 70px;
		}

	}

	.subpage-wrapper_image {
		@include breakpoint('desktop_small') {
			position: absolute;
			right: 0;
			top: 0;
			width: 600px;
			height: 850px;
			z-index: -1;
			background-repeat: no-repeat;
			background-position: bottom left;
			background-size: cover;
		}
		@include breakpoint('desktop_colossal') {
			width: 800px;
		}
	}

	.breadcrumbs {
		margin-bottom: 18px;
	}

}



/**
 * TYPO
**/


.subpage-wrapper {

	h1 {
		font: 500 30px/30px $oswald;
		text-transform: uppercase;
		color: $cl-primary;
	}

	.subpage-wrapper_content p{
		font: 400 18px/30px "Montserrat", sans-serif;
		letter-spacing: .3px;
		margin-bottom: 22px;
		max-width: 600px;

		&:last-of-type {
			margin-bottom: 50px;

			@include breakpoint('tablet') {
				margin-bottom: 80px;
			}
		}

		strong, a {
			font-weight: 500;
			color: $cl-secondary;
		}

	}

	.breadcrumbs {
		a, strong {
			font-family: $montserrat;
			font-size: 14px;
			transition: .3s color;
		}
		strong {
			font-weight: 500;
		}
		a:hover {
			color: $cl-secondary;
		}
	}

	ul{
		margin: 30px 0;

		li{
			font-family: $montserrat;
			position: relative;
			font-size: 22px;
			margin-bottom: 20px;
			padding-left: 45px;
			max-width: 600px;
			line-height: 25px;
			letter-spacing: -.2px;

			@include breakpoint('tablet') {
				margin-bottom: 40px;
				line-height: 36px;
				font-size: 30px;
				letter-spacing: -1.2px;
			}

			&:last-of-type{
				margin-bottom: 0;
			}
			&::after{
				content: '';
				position: absolute;
				background: url("../images/star.png") no-repeat center center / cover;
				height: 30px;
				width: 30px;
				left: 0;
				top: 0;
				margin: auto;

				@include breakpoint('tablet') {
					width: 38px;
					height: 38px;
				}

			}
		}

	}

	h1, h2, h3 {
		color: $cl-primary;
		font-family: $oswald;
		font-weight: 500;
		text-transform: uppercase;
	}
	h4, h5, h6 {
		color: $cl-primary;
		font-family: $montserrat;
		font-weight: 400;
	}
	h1{
		font-size: 38px;
		line-height: 54px;
		letter-spacing: -1.6px;
	}

	h2{
		font-size: 30px;
		line-height: 44px;
	}
	h3{
		font-size: 22px;
		line-height: 34px;
	}
	h4{
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -.2px;
	}
	h5, h6{
		font-size: 18px;
		letter-spacing: .4px;
	}

}
