.testimonials {
	background: url('../images/testi-bg.png') no-repeat center center / cover;
	margin-top: 60px;

	@include breakpoint('tablet') {
		padding-bottom: 30px;
	}

	@include breakpoint('desktop_small') {
		margin-top: 100px;
	}

	@include breakpoint('desktop') {
		margin-top: 125px;
	}

	.testimonials-wrapper {
		@extend .mobile-padding;
	}

	.item {
		background: $cl-white;
		max-width: 530px;
		box-sizing: border-box;
		padding: 40px 30px 30px;

		@include breakpoint('desktop_small') {
			max-width: 450px;
		}
		@include breakpoint('desktop') {
			max-width: 530px;
		}

		.author {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 18px;
			justify-content: flex-start;
		}

		.author img {
			border-radius: 50%;
			height: 64px;
			width: 64px;
			margin-right: 25px;
		}

		.author .info {
			line-height: 30px;
			display: block;
		}

	}

	.slick-slide {

		div:not(.author, .info) {
			display: flex;
			justify-content: center;
		}

	}

	.slick-dots {
		display: flex;
		justify-content: center;
		padding: 20px 0 35px;

		@include breakpoint('tablet') {
			padding: 30px 0 55px;
		}

		li {
			margin: 0 5px;
		}

		.slick-active button{
			background: $cl-secondary;
			border-color: $cl-secondary;
		}

		button {
			cursor: pointer;
			padding: 1px;
			width: 12px;
			height: 12px;
			color: transparent;
			border-radius: 50%;
			box-sizing: border-box;
			border: 2px solid $cl-lightGray;
			transition: .3s background-color, border;
			font-size: 0;
		}

	}

}


/**
 * TYPO
**/

.testimonials {

	p, h5, h6 {
		font-family: $lato;
	}

	h5 {
		font-weight: bold;
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
		color: #acb0b7;
	}

	p {
		line-height: 28px;
		font-size: 16px;
		letter-spacing: 0.4px;
		color: #80909c;
	}

}