.timeline {
	margin: 50px 0 30px;

	.section_heading {
		@include breakpoint('desktop_small') {
			margin-bottom: 60px;
		}
	}

	.number {
		border: 3px solid $cl-secondary;
		border-radius: 50%;
		position: absolute;
		top: -18px;
		height: 36px;
		width: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.timeline_boxes {
		@extend .mobile-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include breakpoint('tablet') {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		@include breakpoint('desktop_small') {
			justify-content: center;
			flex-wrap: nowrap;
		}

	}

	.item {
		@extend .mobile-padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		max-width: 450px;
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto 45px;
		padding: 55px 15px 30px;
		border: 2px solid $cl-secondary;

		@include breakpoint('tablet') {
			width: 35%;
		}
		@include breakpoint('desktop_small') {
			margin: 0;
			width: 25%;
			border: none;
			padding: 85px 0 0;
		}

		&:last-of-type {
			@include breakpoint('desktop_small') {
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint('desktop_small') {

		.item {

			&:after {
				content: '';
				position: absolute;
				height: 5px;
				background: $cl-secondary;
				top: 0;
			}

			&:first-of-type:after {
				width: 50%;
				right: 0;
			}

			&:nth-child(n+2):after {
				width: 100%;
				left: 0;
				right: 0;
			}

			&:last-of-type:after {
				width: 50%;
				left: 0;
			}

		}

	}


	.item:after {
		@include breakpoint('desktop_small') {
			content: '';
		}
	}

	.item img {
		max-height: 130px;
		margin-bottom: 35px;
	}

}


/**
 * TYPO
**/

.timeline {

	.number {
		@extend .default-paragraph;
		background: $cl-white;
		z-index: 2;
	}

	p {
		@extend .default-heading;
		text-transform: uppercase;
		line-height: 24px;
		font-size: 18px;

		@include breakpoint('desktop_small') {
			min-height: 50px;
			padding: 0 15px;
		}

	}

}