{% set menu = menu ? menu.get_items : false %}

{% if menu is not empty and menu is iterable %}
    <ul class="menu {{ class ?? '' }}">

        {% for item in menu %}
            <li class="menu-item {{ item.classes | join(' ') }}">
                <a class="menu-item_link" href="{{ item.get_link }}">
                    <span class="menu-item_name">
                        {{ item.title }}
                    </span>
                    {% if item.thumbnail %}
                        <img src="{{ item.thumbnail.guid }}" alt="">
                    {% endif %}
                </a>

                {% if item.get_children %}
                    <ul class="menu-submenu">

                        {% for child in item.get_children %}
                        <li class="menu-item">
                            <a class="menu-item_link" href="{{ child.get_link }}">
                                {{ child.title }}
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                {% endif %}

            </li>
        {% endfor %}
        
    </ul>
{% endif %}