<section class="newsletter">

    <div class="container" style="background-image: url('http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/accessories-caffeine-coffee-604575.png')">

        <div class="newsletter-form">
            <h1>Bądź z nami na bieżąco</h1>
            <h4>Dostawaj informacje o nowym towarze! Zapisz się do newslettera</h4>

            {{ function('do_shortcode', '[contact-form-7 id="109" title="Newsletter"]') }}

        </div>

    </div>

</section>