{% set brandLogo = brandLogo|default(false) %}
{% set productPrice = productPrice|default('') %}
{% set productPromoPrice = productPromoPrice|default('') %}
{% set productImage = productImage|default(false) %}
{% set productSubtitle = productSubtitle|default('') %}
{% set productTitle = productTitle|default('') %}
{% set productImage = productImage|default(false) %}
{% set btnLabel = btnLabel|default('') %}

{% if brandLogo %}
    <div class="product-information product-information_logo">
        <img src="{{ brandLogo }}" alt={{ productTitle }}>
    </div>
{% endif %}

<h1 class="product-information product-information_title">{{ productTitle }}</h1>

<p class="product-information product-information_subtitle">{{ productSubtitle }}</p>

{% if promoPrice %}
    <p class="product-information product-information_price">{{ promoPrice}}</p>
{% endif %}
<p class="product-information product-information_price">
    {% if productPromoPrice %}
        <span>{{ productPromoPrice }}</span>
    {% endif %}
    {{ productPrice }}
</p>

{% include 'templates/components/btn/btn-loader.twig' with {
    'label': btnLabel,
    'class': 'btn is-primary'
} %}

{% if productImage %}
<div class="product-information product-information_image">
    <img src="{{ productImage }}" alt="{{ productTitle }}">
</div>
{% endif %}