<section class="grid">

    <div class="container">

        <div class="grid-col" style="background-image: url('http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Zrzut-ekranu-2019-02-8-o-11.19.27.png')">
            <h1>Automatyka do bram</h1>
        </div>

        <div class="grid-col">
            <div class="grid-col_item">
                <h2>Przesuwnych</h2>
                {% include 'templates/components/btn/btn-loader.twig' with {
                    'label': 'Zobacz',
                    'class': 'btn is-primary'
                } %}
            </div>
            <div class="grid-col_item" style="background-image: url('http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Zrzut-ekranu-2019-02-8-o-11.19.27.png')"></div>
            <div class="grid-col_item" style="background-image: url('http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Zrzut-ekranu-2019-02-8-o-11.19.27.png')"></div>
            <div class="grid-col_item">
                <h2>Skrzydłowych</h2>
                {% include 'templates/components/btn/btn-loader.twig' with {
                    'label': 'Zobacz',
                    'class': 'btn is-primary'
                } %}
            </div>
        </div>

    </div>

</section>