.slider {

	.slider-container {
		max-width: 1440px;
		margin: 0 auto;
	}

	.slider-item {
		position: relative;
		height: 500px;
		display: flex;
		padding: 0 15px;
		flex-direction: column;
		box-sizing: border-box;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 30px;

		@include breakpoint(tablet) {
			justify-content: center;
			align-items: normal;
			padding-bottom: 0;
		}

		@include breakpoint(desktop_small) {
			padding: 0 60px 0;
		}

		.slider_background {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;

			&.slider-item_mobile-bg {
				@include breakpoint(tablet) {
					display: none;
				}
			}
			&.slider-item_tablet-bg {
				display: none;
				@include breakpoint(tablet) {
					display: block;
				}
				@include breakpoint(desktop_small) {
					display: none;
				}
			}
			&.slider-item_desktop-bg {
				@include breakpoint(tablet) {
					display: block;
				}
			}

		}

		h1, p, .product-information_logo {
			display: none;
			@include breakpoint(tablet) {
				display: block;
			}
		}
	}

	.product-information_price {
		padding: 30px 0 45px;
		span {
			position: relative;
			color: #CACACA;
			&:after {
				content: '';
				width: 100%;
				height: 4px;
				display: block;
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
				bottom: 0;
				background: #666666;
				margin: auto 10px auto 0;
				transform: rotate(195deg);
			}
		}

	}

}


// typo

.slider {

	h1, p {
		color: $col-primary;
	}

	h1 {
		font-weight: 800;
		font-size: 60px;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 10px;
		&.product-information_subtitle {
			font-size: 24px;
		}
		&.product-information_price {
			font-size: 37px;
			font-weight: 800;
			span {
				font-weight: 400;
			}
		}
	}

}