header {
    .header-inputs {
        display: none;
    }
    .header-primary {
        @extend %container;
        padding: 15px;
        display: flex;
        align-items: center;
    }
    .header-column {
        &.is-logo {
            @include breakpoint(desktop_small) {
                margin-right: 35px;
            }
            @include breakpoint(desktop) {
                margin-right: 60px;
            }
        }
        &.is-menu_main {
            order: 3;
            @include breakpoint(desktop_small) {
                order: inherit;
            }
        }
        &.is-menu_user {
            margin-left: auto;
            @include breakpoint(desktop_small) {
                margin-left: 25px;
            }
            @include breakpoint(desktop) {
                margin-left: 35px;
            }
        }
        &.is-search {
            @extend %is-hidden;
            @include breakpoint(desktop_small) {
                display: block;
                margin-left: auto;
            }
        }
    }
}