{% set template = template|default('default') %}
{% set settings = settings|default(false) %}


<section class="slider">
    <div class="slider-container">
        {% for elements in sliders %}
                {% for element in elements.meta('slide') %}

                    <div class="slider-item">
                        {% if element.slide_background_mobile %}
                            <div class="slider_background slider-item_mobile-bg" style="background-image: url('{{ element.slide_background_mobile }}')"></div>
                        {% endif %}
                        <div class="slider_background slider-item_desktop-bg" style="background-image: url('{{ element.slide_background_desktop }}')"></div>
                        {% if element.slide_background_tablet %}
                            <div class="slider_background slider-item_tablet-bg" style="background-image: url('{{ element.slide_background_tablet }}')"></div>
                        {% endif %}
                        {% include 'templates/components/slider/elements/product-information.twig' with {
                            'brandLogo': element.slide_logo|raw,
                            'productTitle': element.slide_title|raw,
                            'productSubtitle': element.slide_subtitle|raw,
                            'productPrice': element.slide_normal_price|raw,
                            'productPromoPrice': element.slide_promo_price|raw,
                            'btnLabel': element.slide_button|raw,
                        } %}
                    </div>

                {% endfor %}
        {% endfor %}
    </div>
</section>


{% block javascripts %}
    <script src="{{ site.theme.link }}/assets/js/libs/siema.min.js"></script>
    <script src="{{ site.theme.link }}/assets/js/application.js"></script>
{% endblock %}