.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	width: 100%;
	max-width: 220px;
	height: 50px;
	cursor: pointer;
	outline: none;

	&.is-primary {
		background-color: $col-secondary;
	}

	&.is-secondary {
		background-color: #0284A8;
	}

}