{% extends "base.twig" %}

{% block content %}

    {% for elements in sliders %}
        <img src="{{ Image(image) }}" />
    {% endfor %}

    {% include 'templates/components/slider/slider-loader.twig' %}

    {% include 'templates/components/product-exhibition/product-exhibition-loader.twig' with {
        'brandLogo': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/genius.png',
        'productImage': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Warstwa-5.png',
        'productPrice': '1999,-',
        'productTitle': 'Blizzard 500',
        'productSubtitle': 'Zestaw do bram garażowych',
        'btnLabel': 'Zobacz zestaw',
        'colImage': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Zrzut-ekranu-2019-02-8-o-11.19.27.png'
    } %}

    {% include 'templates/components/product-exhibition/product-exhibition-loader.twig' with {
        'brandLogo': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Faac-Simply-automatic-logo-K.png',
        'productImage': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/zestaw-delta-3-faac-741-lampa-5x-szyna-8mm-10.png',
        'productPrice': '2499,-',
        'productTitle': 'FAAC 740',
        'productSubtitle': 'Zestaw do bram przesuwnych',
        'btnLabel': 'Zobacz zestaw',
        'colImage': 'http://localhost:7070/new-codes/ecom/wp-content/uploads/2019/02/Zrzut-ekranu-2019-02-8-o-11.19.27.png'
    } %}

    {% include 'templates/components/grid/grid-loader.twig' %}

    {% include 'templates/components/newsletter/newsletter-loader.twig' %}

{% endblock %}