{% set url = url|default(false) %}
{% set image = image|default(false) %}
{% set target = target|default(false) %}
{% set class = class|default('') %}
{% set title = title|default('') %}
{% set svg = svg|default(false) %}

<div class="logo {{ class ?? '' }}">
    <a class="logo-link{% if svg %} is-svg{% endif %}" href="{{ url }}" rel="home">
        {% if image %}
            <img 
                src="{{ image }}" 
                {% if title %}title=""{% endif %}
                {% if target %}target="_blank"{% endif %}
            >
        {% else %}
            {{ site.name }}
        {% endif %}
    </a>
</div>