.btn {
    cursor: pointer;
    font-family: $montserrat;
    font-size: 18px;
    padding: 15px;
    display: inline-flex;
    @include breakpoint('tablet') {
        padding: 15px 30px;
        font-size: 18px;
        transition: .3s background-color, color;
    }

    &_primary {
        font-weight: 500;
        background: $cl-secondary;
        color: $cl-white;
        border: 4px solid $cl-secondary;

        &:hover {
            @include breakpoint('tablet') {
                background: transparent;
                border-color: $cl-secondary;
                color: $cl-secondary;
            }
        }

    }

    &_secondary {
        font-weight: 600;
        color: $cl-lightDark;
        border: 4px solid $cl-lightDark;
    }

    &_tertiary {
        font-weight: 600;
        background: $cl-white;
        color: $cl-secondary;
        text-transform: uppercase;
        border: 4px solid $cl-white;

        &:hover {
            @include breakpoint('tablet') {
                background: transparent;
                border-color: $cl-white;
                color: $cl-white;
            }
        }
    }

}