/**
 *
 * Colors variables
 *
 */

$cl-white: rgba(255, 255, 255, 1);
$cl-black: rgba(0, 0, 0, 1);
$cl-primary: #333333;
$cl-secondary: #f94c4c;
$cl-lightDark: #7b7b7b;
$cl-lightGray: #f0f0f0;
$cl-footerBar: #1f1f1f;
$cl-footerNav: #aaaaaa;

$cl-fonts-default: $cl-primary;
$cl-fonts-default-hover: $cl-secondary;


/**
 *
 * Fonts
 *
 */

$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;


body {
    position: relative;

    &.of_hidden, &.isVisible {
        overflow: hidden;
    }

}

body,
html,
a {
    color: $cl-fonts-default;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    color: $cl-fonts-default;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    @include breakpoint('desktop_small') {
        margin: 0 auto;
        max-width: 1180px;
    }
}

[v-cloak] {
    display: none;
}