.mobile-padding {
    padding: 0 15px;
    @include breakpoint('desktop') {
        padding: 0;
    }
}

//fonts

.default-paragraph {
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 500;
}

.default-heading {
    font-family: $oswald;
    font-weight: 500;
    text-align: center;
    line-height: 52px;
}