.single-article_content{
	h1, h2, h3 {
		color: $cl-primary;
		font-family: $oswald;
		font-weight: 500;
		text-transform: uppercase;
	}
	h4, h5, h6 {
		color: $cl-primary;
		font-family: $montserrat;
		font-weight: 400;
	}
	h1{
		font-size: 38px;
		line-height: 54px;
		letter-spacing: -1.6px;
	}

	h2{
		font-size: 30px;
		line-height: 44px;
	}
	h3{
		font-size: 22px;
		line-height: 34px;
	}
	h4{
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -.2px;
	}
	h5, h6{
		font-size: 18px;
		letter-spacing: .4px;
	}
	ul{
		margin: 30px 0;

		li{
			font-family: $montserrat;
			position: relative;
			font-size: 22px;
			margin-bottom: 20px;
			padding-left: 45px;
			max-width: 600px;
			line-height: 25px;
			letter-spacing: -.2px;
			@include breakpoint('tablet') {
				margin-bottom: 40px;
				line-height: 36px;
				font-size: 30px;
				letter-spacing: -1.2px;
			}

			&:last-of-type{
				margin-bottom: 0;
			}

			&::after{
				content: '';
				position: absolute;
				background: url("../images/star.png") no-repeat center center / cover;
				height: 30px;
				width: 30px;
				left: 0;
				top: 0;
				margin: auto;
				@include breakpoint('tablet') {
					width: 38px;
					height: 38px;
				}

			}
		}

	}

}
