<div class="about">

    {% include 'templates/components/logo/logo-loader.twig' with {
        'image': options.logotype,
        'class': 'is-footer'
    } %}

    <p>
        ul. Zabłocie 39/11 <br>
        30-701  Kraków
    </p>

    <p>
        sprzedaz@centrumautomatyki.com.pl <br>
        +48 600 000 000
    </p>

    <p>
        <a href="https://goo.gl/YjMzdU" target="_blank">
            Wskazówki dojazdu
        </a>
    </p>

</div>