{% if umbrella is not empty %}
    <div class="umbrella">
        {% for element in umbrella if element.active %}
            {{ element.post_content|raw }}
        {% endfor %}
    </div>
{% endif %}