.grid {
	.container {
		@extend %container;
		display: flex;
		flex-direction: column;
		@include breakpoint(tablet) {
			flex-direction: row;
		}

		.grid-col {
			display: flex;
			min-height: 300px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			box-sizing: border-box;
			@include breakpoint(tablet) {
				height: 400px;
				width: 50%;
			}
			@include breakpoint(desktop_small) {
				height: 480px;
			}
			&:first-of-type {
				@extend %mobile-padding;
				justify-content: center;
				align-items: center;
			}
			&:last-of-type {
				flex-wrap: wrap;
			}

			.grid-col_item {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				box-sizing: border-box;
				width: 100%;
				padding: 30px 15px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				@include breakpoint(tablet) {
					padding: 0 15px;
					min-height: 0;
					width: 50%;
					height: 50%;
				}
				@include breakpoint(desktop) {
					padding: 0;
				}
				&:nth-child(2),
				&:nth-child(3) {
					@extend %is-hidden;
					@include breakpoint(tablet) {
						display: block;
					}
				}
			}
		}
	}

	//TYPO
	.grid-col {
		&:first-of-type {
			h1 {
				background: rgba(255,255,255, .8);
				max-width: 480px;
				text-align: center;
				box-sizing: border-box;
				padding: 20px 15px;
				letter-spacing: 1px;
				@include breakpoint(desktop_small) {
					padding: 50px 80px;
				}
			}
		}
		.grid-col_item {
			h2 {
				font-weight: 600;
				margin-bottom: 25px;
				@include breakpoint(tablet) {
					font-size: 24px;
				}
				@include breakpoint(desktop_small) {
					font-size: 32px;
					margin-bottom: 30px;
				}
				@include breakpoint(desktop) {
					font-size: 48px;
					margin-bottom: 40px;
				}
			}
		}
	}
	// </ TYPO
}