{% set href = href|default('#') %}
{% set label = label|default('label') %}
{% set class = class|default(false) %}
{% set title = title|default(false) %}
{% set target = target|default(false) %}

<a
        href="{{ href }}"
        {% if class %}class="{{ class }}"{% endif %}
        {% if title %}title="{{ title }}"{% endif %}
        {% if target %}target="_blank"{% endif %}
>
    {{ label }}
</a>