<footer>

    <div class="footer-column is-menu_categories">
        {% include 'templates/components/footer/elements/menu-categories.twig' %}
    </div>

    <div class="footer-column is-menu_brands">
        {% include 'templates/components/footer/elements/menu-brands.twig' %}
    </div>

    <div class="footer-column is-menu_main">
        {% include 'templates/components/footer/elements/menu-main.twig' %}
    </div>

    <div class="footer-column is-about">
        {% include 'templates/components/footer/elements/about.twig' %}
    </div>

    <div class="footer-column is-copyright">
        {% include 'templates/components/footer/elements/copyright.twig' %}
    </div>

</footer>