{% set colImage = colImage|default(false) %}

<section class="product-exhibition">

    <div class="container">

        <div class="product-exhibition-col" style="background-image: url({{ colImage }})"></div>

        <div class="product-exhibition-col">

            {% include 'templates/components/product-information/product-information-loader.twig' %}

        </div>

    </div>

</section>